INIT_SEAFILE_MYSQL_ROOT_PASSWORD=asecret
SEAFILE_MYSQL_DB_PASSWORD=asecret
SEAFILE_SERVER_HOSTNAME=drive.gyurus.hu
JWT_PRIVATE_KEY=your_jwt_private_key
INIT_SEAFILE_ADMIN_EMAIL=admin@example.com
INIT_SEAFILE_ADMIN_PASSWORD=asecret
REDIS_PASSWORD=your_redis_password
