POSTGRES_USER=solaris
POSTGRES_PASSWORD=solaris_pass
POSTGRES_DB=solaris
SECRET_KEY=dev_secret_key_change_me
INVERTER_IP=192.168.1.xxx
INVERTER_SERIAL=xxxxxx
INVERTER_PORT=502
INVERTER_NAME=MyInverter
